.container {
    margin-top: 3%;
    width: 75%;
    border-radius: 15px;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content-presentation{
    display: flex;
    flex-direction: column; /* Coloca el h1 arriba del h2 */
    justify-content: center; /* Centra verticalmente el contenido de texto */
    margin-right: 4%;
    text-shadow: 3px 5px 5px #505050;
}

.foto-cara{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    border-color: black;
    padding: 0.4rem;
    width: 15%;
}

.cv {
    text-align: center;
}

/* Media query para pantallas pequeñas (resoluciones de celular) */
@media (max-width: 900px) {
    .presentation {
        flex-direction: column-reverse; /* Coloca el texto (nombre y rol) debajo de la imagen */
        align-items: center; /* Centra los elementos */
    }

    .foto-cara {
        width: 30%; /* Aumenta el tamaño de la imagen en pantallas pequeñas */
        margin-bottom: 1rem; /* Añade espacio entre la imagen y el texto */
    }

    .text-content-presentation {
        text-align: center;
        margin-right: 0; /* Remueve el margen lateral */
        margin-top: 0.1rem; /* Añade margen superior al texto para separación */
    }

    .container {
        width: 90%; /* Aumenta el ancho del contenedor para pantallas pequeñas */
        border: 0; /* Elimina el borde en pantallas pequeñas si no es necesario */
    }
}