
.carousel-container img {
  margin: auto; /* Espaciado entre proyectos */
  width: 65%;
  height: auto;
  padding: 1%;
}

.carousel {
  margin: auto; /* Centra el carrusel horizontalmente */
  width: 65%; /* Ajusta el ancho del carrusel */
  height: auto;
  padding: 1%;
}

.carousel img {
  width: 100%;
  height: auto; /* Mantiene la relación de aspecto */
}

.text-content {
  line-height: 1.5; /* Altura de línea consistente */
}

.text-content h3,
.text-content p {
  text-align: center; /* Centra el texto del título y la descripción */
}

.tech-table {
  width: 100%;
  border-collapse: collapse;
}

.tech-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #e8e8e8a4;
}

.github {
  display: flex; /* Usar flexbox para centrar contenido */
  justify-content: center; /* Centra horizontalmente */
  margin-top: 20px; /* Agrega un margen superior si lo deseas */
}

@media (max-width: 900px) {
  .carousel {
    margin: auto; /* Centra el carrusel horizontalmente */
    width: 100%;
    height: auto;
  }
}
